.footer-layout {
    background-color: rgb(44, 58, 94);
    padding: 20px;
}

.footer-layout div {
    font-size: 8px;
    color: var(--background-branco);
}

.footer-layout img {
    height: 16px;
    width: 16px;
}

.footer-layout nav {
    display: none;
}