header,
.header-layout {
    height: 3.5rem;
}

.header-layout {
    background-color: var(--background-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-header-logo);
}

.header-nav ul {
    gap: 2rem;
}

.header-nav li {
    padding: var(--space-2) 0;
}

.header-nav li:hover,
.header-nav li.active {
    border-bottom: 2px solid var(--color-header-nav-border);
}

.header-nav:hover li.active {
    border-bottom: none;
}

/* Tablet */
@media (min-width: 900px) {

    header,
    .header-layout {
        height: 5.5rem;
    }

    .header-logo {
        font-size: 2rem;
    }

    .header-layout li {
        font-size: 1.4rem;
    }
}