.main-banner {
    width: 100vw;
    height: inherit;
    /* ou 100vh */
    background-image: url("../imagem/fundo_banner.png");
    background-size: cover;
    background-position: bottom;

}

.main-layout-banner {
    position: relative;
    height: 330px;
}

.main-elementos {
    box-sizing: border-box;
    width: 30rem;
    height: inherit;
    flex-direction: column;
    position: absolute;
    top: 1px;
    left: 24px;
    align-items: flex-start;
}

.main-elementos h2 {
    color: var(--color-texto-titulo-banner);
    font-size: 2.5rem;
    line-height: 3rem;
}

.main-elementos p {
    color: var(--color-texto-banner);
    margin: 1rem 0;
    font-size: 1.1rem;
}

.main-layout-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-creme);
}

.main-layout-servicos-menus {
    flex-direction: row;
    gap: 20px;
}

.main-layout-servicos-menus div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
}

.main-layout-servicos-menus div img {
    height: 54px;
    width: 54px;
}