.main-banner {
    height: inherit;
    /* ou 100vh */
    background-image: url("../imagem/fundo_banner.png");
    background-size: cover;
    background-position: bottom;

}

.main-layout-banner {
    position: relative;
    height: 330px;
}

.main-elementos {
    box-sizing: border-box;
    width: 30rem;
    height: inherit;
    flex-direction: column;
    position: absolute;
    top: 1px;
    left: 24px;
    align-items: flex-start;
}

.main-elementos h1 {
    color: var(--color-texto-titulo-banner);
    font-size: var(--space-h1);
    line-height: 3rem;
}

.main-elementos p {
    color: var(--color-texto-banner);
    margin: 1rem 0;
    font-size: var(--space-p);
}

.main-layout-servicos {
    background-color: var(--background-creme);
    padding: 0 0 5px 0;
}

.main-layout-servicos h2 {
    padding-top: 25px;
    text-align: center;
    font-size: var(--space-h2);
}

.main-layout-servicos-menus div {
    background-color: var(--background-branco);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px 30px;
    height: 150px;
    gap: 15px;
    border-radius: 10px;
}

.main-layout-servicos-menus div img {
    height: 54px;
    width: 54px;
}

.main-layout-servicos-menus div h3 {
    font-size: var(--space-h3);
}

.main-layout-servicos-menus div p {
    font-size: var(--space-p);
}

.main-layout-sobre h2 {
    font-size: var(--space-h2);
}

.main-layout-sobre h3 {
    margin: 30px 0;
    font-size: var(--space-h3);
}

.main-layout-sobre p {
    font-size: var(--space-p);
    margin-bottom: 30px;
}

.main-layout-sobre img {
    height: 250px;
    width: 300px;
    margin: auto;
    display: block;
}

.main-layout-sobre {
    margin-bottom: 40px;
}

@media (min-width: 900px) {
    :root {
        --space-h1: 3rem;
        --space-p: 1.6rem;
        --space-2: 1.6rem;
        --space-5: 3rem;
    }

    .main-elementos {
        width: 60rem;
    }

    .main-elementos h1 {
        line-height: 4rem;
    }

    .button-primary {
        font-size: 16px;
    }
}