@charset "UTF-8";
/* ===========================
   RESET GLOBAL
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===========================
   VARIÁVEIS GLOBAIS
=========================== */
:root {
  --font-primary: "Inter", sans-serif;
  --background-branco: rgb(254, 254, 254);
  --background-creme: rgb(248, 248, 251);
  --color-texto-titulo-nav: rgb(43, 53, 80);
  --color-texto-nav: rgb(82, 88, 112);
  --color-texto-titulo-banner: rgb(255, 255, 255);
  --color-texto-banner: rgb(241, 242, 254);
  --background-color-button-banner: rgb(0, 77, 215);
  --color-header-logo: rgb(38, 84, 211);
  --color-header-nav: rgb(81, 87, 108);
  --color-header-nav-border: rgb(83, 115, 209);
  --radius: 7px;
  --space-1: 0.4rem;
  --space-2: 1rem;
  --space-3: 1.2rem;
  --space-4: 1.6rem;
  --space-5: 2.4rem;
  --space-6: 3.2rem;
}

/* ===========================
   ESTILOS BASE
=========================== */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-branco);
  margin: auto;
}

/* Classes utilitárias */
.container {
  width: 90vw;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary {
  padding: var(--space-2) var(--space-5);
  border-radius: var(--radius);
  font-size: 14px;
  background: var(--background-color-button-banner);
  color: var(--color-texto-titulo-banner);
  border: 0;
  margin: 2rem 0;
  font-weight: 500;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 390 × 844 (iPhone 12) */
/* É o mais atual, confortável e perfeito pra desenhar o layout mobile. */
/* CSS base = mobile */
/* Tablet */
/* Desktop */
/* Desktop grande */
header,
.header-layout {
  height: 3.5rem;
}

.header-layout {
  background-color: var(--background-branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 1rem;
  color: var(--color-header-logo);
}

.header-nav ul {
  gap: 2rem;
}

.header-nav li {
  padding: var(--space-2) 0;
}

.header-nav li:hover,
.header-nav li.active {
  border-bottom: 2px solid var(--color-header-nav-border);
}

.header-nav:hover li.active {
  border-bottom: none;
}

.main-banner {
  width: 100vw;
  height: inherit;
  /* ou 100vh */
  background-image: url("../imagem/fundo_banner.png");
  background-size: cover;
  background-position: bottom;
}

.main-layout-banner {
  position: relative;
  height: 330px;
}

.main-elementos {
  box-sizing: border-box;
  width: 30rem;
  height: inherit;
  flex-direction: column;
  position: absolute;
  top: 1px;
  left: 24px;
  align-items: flex-start;
}

.main-elementos h2 {
  color: var(--color-texto-titulo-banner);
  font-size: 2.5rem;
  line-height: 3rem;
}

.main-elementos p {
  color: var(--color-texto-banner);
  margin: 1rem 0;
  font-size: 1.1rem;
}

.main-layout-servicos {
  background-color: var(--background-creme);
  padding: 0 0 5px 0;
}

.main-layout-servicos h2 {
  padding-top: 25px;
  text-align: center;
}

.main-layout-servicos-menus div {
  background-color: var(--background-branco);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 30px;
  height: 150px;
  gap: 15px;
  border-radius: 10px;
}

.main-layout-servicos-menus div img {
  height: 54px;
  width: 54px;
}

.main-layout-servicos-menus div h3 {
  font-size: 16px;
}

.main-layout-servicos-menus div p {
  font-size: 13px;
}

.main-layout-sobre h2,
.main-layout-sobre h3 {
  margin: 30px 0;
  font-size: 24px;
}

.main-layout-sobre p {
  font-size: 14px;
  margin-bottom: 30px;
}

.main-layout-sobre img {
  height: 250px;
  width: 300px;
  margin: auto;
  display: block;
}

.main-layout-sobre {
  margin-bottom: 40px;
}

.footer-layout {
  background-color: rgb(44, 58, 94);
  padding: 20px;
}

.footer-layout div {
  font-size: 8px;
  color: var(--background-branco);
}

.footer-layout img {
  height: 16px;
  width: 16px;
}

.footer-layout nav {
  display: none;
}

/*# sourceMappingURL=style.css.map */
