/* ===========================
   RESET GLOBAL
=========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   VARIÁVEIS GLOBAIS
=========================== */
:root {
    --font-primary: "Inter", sans-serif;

    --background-branco: rgb(254, 254, 254);
    --background-creme: rgb(248, 248, 251);

    --color-texto-titulo-nav: rgb(43, 53, 80);
    --color-texto-nav: rgb(82, 88, 112);

    --color-texto-titulo-banner: rgb(255, 255, 255);
    --color-texto-banner: rgb(241, 242, 254);
    --background-color-button-banner: rgb(0, 77, 215);


    --color-header-logo: rgb(38, 84, 211);
    --color-header-nav: rgb(81, 87, 108);
    --color-header-nav-border: rgb(83, 115, 209);


    --space-2: 1rem;
    --space-5: 2.4rem;

    --space-p: 1.3rem;
    --space-h1: 2.5rem;
    --space-h2: 2rem;
    --space-h3: 1.6rem;
}

/* ===========================
   ESTILOS BASE
=========================== */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    background-color: var(--background-branco);
    margin: auto;
}

/* Classes utilitárias */
.container {
    width: 90vw;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary {
    padding: var(--space-2) var(--space-5);
    border-radius: var(--radius);
    font-size: 14px;
    background: var(--background-color-button-banner);
    color: var(--color-texto-titulo-banner);
    border: 0;
    margin: 2rem 0;
    font-weight: 500;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}